# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Logs
logs/
*.log

# Builds
dist/
dist-ssr/
.vite/
*.tsbuildinfo

# Env
.env

# Docker
*.local
docker-compose.override.yml

# Editor config
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
